<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag "logo.png" %>
    <title>Gulliver's Guide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />

    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Roboto" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :head %>
  </head>

  <body>
    <div id="wrapper" class="rails">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
    </div>
  </body>
</html>
